.auth {
  padding: 80px 0;
  .ant-card {
    box-shadow: 0 10px 20px 0 rgba(60, 120, 187, 0.15);
  }
  h2 {
    margin: 0;
  }
  .ant-divider {
    margin: 12px 0;
  }
  h5 {
    padding: 24px 0 16px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .ant-form {
    .ant-form-item {
      margin: 0;
      padding: 6px 0;
      .ant-input {
        border-radius: 6px;
        font-size: 16px;
        padding: 12px 16px;
      }
      .ant-form-item-explain {
        margin: 0 1px;
      }
    }
  }
  .form-action {
    text-align: center;
    .ant-btn-round.ant-btn-lg {
      border-radius: 6px;
      font-size: 18px;
      height: 48px;
      text-transform: uppercase;
    }
  }
  .forgot-action {
    .ant-btn {
      margin-left: 8px;
      border-radius: 6px;
    }
  }
}
