@import "~antd/dist/antd.css";

body,
html,
#root {
  width: 100%;
  height: 100%;
}
.app {
  padding-top: 22px;
  height: 100%;
  position: relative;
  & > .ant-row {
    height: 100%;
    .ant-col {
      width: 100%;
    }
  }
  .main-container {
    min-height: 100vh;
    padding: 0 64px 32px 64px;
    @media (max-width: 1024px) {
      padding-right: 48px;
      padding-left: 48px;
    }
    @media (max-width: 768px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
.color-error {
  color: #a61d24;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.ant-card {
  border-radius: 15px;
}
a,
a:active,
a:visited {
  color: unset;
  text-decoration: none;
  outline: 0;
}
// normalize dropdown
.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.ant-btn,
.ant-modal-content {
  border-radius: 4px;
}
