@import "~antd/dist/antd.css";
body {
  background-color: #fbfbfb;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
}
.app {
  // padding-top: 22px;
  height: 100%;
  position: relative;
  & > .ant-row {
    height: 100%;
    .ant-col {
      width: 100%;
    }
  }
  .main-container {
    min-height: 100vh;
    padding: 22px 64px 32px 64px;
    @media (max-width: 1024px) {
      padding-right: 48px;
      padding-left: 48px;
    }
    @media (max-width: 768px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
.color-error {
  color: #a61d24;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.ant-card {
  border-radius: 15px;
}
a,
a:active,
a:visited {
  color: unset;
  text-decoration: none;
  outline: 0;
}
// normalize
.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.ant-btn {
  border-radius: 4px;
}
.ant-modal-header {
  border-radius: 8px 8px 0 0;
}
.ant-modal-close {
  height: 24px;
  width: 24px;
  top: 16px;
  right: 16px;
}
.ant-modal-close-x {
  width: 100%;
  height: 100%;
  line-height: 24px;
  .ant-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &:hover {
    .anticon {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      padding: 4px;
    }
  }
}
.ant-modal-content {
  border-radius: 8px;
}
.custom-form {
  .ant-input,
  .ant-input-affix-wrapper,
  .ant-picker {
    border-radius: 8px;
  }
  .ant-form-item {
    margin-bottom: 20px;
  }
  .ant-form-item-with-help {
    margin-bottom: 0 !important;
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.ant-message-notice-content {
  border-radius: 6px;
}
.title-container {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-title {
    color: #202124;
    font-weight: 500;
    line-height: 40px;
    font-size: 32px;
    @media screen and (max-width: 700px) {
      line-height: 32px;
      font-size: 24px;
    }
  }
}
.button-content {
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
}
.custom-modal {
  .ant-modal-header {
    border-bottom: 0;
  }
  .ant-modal-footer {
    border-top: 0;
  }
}
.custom-input {
  border-radius: 8px;
}
.ant-picker-panel-container {
  border-radius: 8px;
}
