@import "~antd/dist/antd.css";

body,
html,
#root {
  width: 100%;
  height: 100%;
}
.app {
  padding-top: 40px;
  height: 100%;
  position: relative;
  & > .ant-row {
    height: 100%;
    .ant-col {
      width: 100%;
    }
  }
  .main-container {
    min-height: 500px;
    padding: 0 64px 32px 64px;
    @media (max-width: 1024px) {
      padding-right: 48px;
      padding-left: 48px;
    }
    @media (max-width: 768px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
.color-error {
  color: #a61d24;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.ant-card {
  border-radius: 15px;
}
