.contents {
  .ant-card-body {
    padding: 0;
  }
  .ant-col {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .content-image {
    .thumbnail {
      height: 100%;
      .thumbnail-image {
        height: 100%;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
      }
    }
    height: 118px;
    position: relative;
    .content-playable {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: absolute;
      top: 0;
      transition: opacity 200ms ease-in-out;
      width: 100%;

      .anticon {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.72);
      }
    }
  }
  .content-detail {
    border-top: 1px solid #f0f0f0;
    padding: 13px 16px;
    & > * {
      font-weight: 500;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .content-title {
      color: rgba(0, 0, 0, 0.72);
      line-height: 20px;
      cursor: default;
      font-size: 13px;
    }
    .content-status {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      line-height: 20px;
    }
  }
  .content-action {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
.content {
  .ant-tabs-ink-bar {
    height: 3px !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .ant-tabs-tab-btn {
    font-size: 14px;
    font-weight: 500;
  }
}
.stream-video {
  width: 100%;
}
