.titles {
  .title-card {
    .ant-card-body {
      padding: 0;
      img {
        width: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }
  }
}
.title-form {
  .policy {
    display: flex;
    span {
      margin-right: 8px;
    }
  }
  .dynamic-delete-button {
    height: 38px;
    display: flex;
    align-items: center;
  }
}
